<div id="<%= dom_id(game) %>">
  <div>
    <% if game.waiting? %>
      <%= render 'games/lobby', game: game %>
    <% elsif game.in_progress? %>
      <%= render 'games/in_game', game: game %>
    <% elsif game.finished? %>
      <%= render 'games/results', game: game %>
    <% end %>
  </div>
</div>